<!doctype html>
<html>

<head>
    <title> <%= title %> </title>
    <link rel="stylesheet"  href="/styles.css" type="text/css" media="all"/>

</head>

<body>
    <div class="container">
    <h1>Databases and Advanced Data Technique</h1>
    <p>     
    </div>
    <div class="container"> 
    
      <h4>Population:</h4>
      Population is a fundamental factor that has a significant impact on a country's development, economy, social dynamics, and overall well-being. 
      
      <h4>HIV/AIDS:</h4> 
      HIV/AIDS has affected individuals of all ages, genders, and social backgrounds of a country. <br>
      The virus has led to the loss of many lives, leaving families devastated and communities grappling with grief. <br>
      As a result, there has been a growing need for support systems and healthcare services to assist those affected and provide them with the necessary care and treatment.<br>
      
      <h4>Gross Domestic Product (GDP):</h4> 
      Gross Domestic Product (GDP) is a crucial economic indicator that measures the total value of all goods and services produced within a country's borders over a specific period. <br>
      In the case of Prosperia, GDP plays a pivotal role in shaping the nation's economic landscape and development.<br>
      <h4> BMI (Body Mass Index):</h4>
     
      Body Mass Index (BMI) is a measure that relates a person's weight to their height and is often used to assess whether an individual is underweight, normal weight, overweight, or obese. In the context of Healthlandia, <br>
      BMI has become a critical health indicator with implications for public health and well-being.<br>
      <h4> Alcohol Consumption:</h4>
     
      Alcohol consumption and its effects are essential factors to consider in the context of Cheersville. <br>
      The country recognizes both the cultural and health aspects of alcohol and works towards maintaining a balance to ensure the well-being of its citizens.<br>
      <h4>Schooling:</h4>
      
      Education is a fundamental pillar of development and progress in EduNation. The country places a strong emphasis on providing accessible and high-quality schooling to <br>
      its citizens, recognizing the vital role education plays in shaping the nation's future.<br>
      <h4>Life Expectancy:</h4>
      
      Life expectancy is a crucial indicator of the overall health and well-being of the population in Longevity Land. The country recognizes the importance of improving life expectancy as a key measure of <br>
      its success in providing quality healthcare and promoting a high standard of living for its citizens.<br>
      </p>
    </div>
      <h2>Lets discover data from around the world</h2>
      <div class="container-button">
      <button class="button"><a href="/search">To Selection</a></button>
    </div>
    </body>

</html>